<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--这儿是下层，这儿也开启AOP的增强，虽然Aspect定义在上层，这儿也能使用-->
    <aop:aspectj-autoproxy/>

    <bean id="testBeanX" class="com.junyi.context.hierarchy.demo.context.TestBean">
        <constructor-arg name="context" value="down" />
    </bean>

<!--    <bean id="fooAspect" class="com.junyi.context.hierarchy.demo.up" />-->
</beans>